doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Pure CSS Tic-Tac-Toe
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico")
		link(rel="stylesheet", href="css/fonts.css")
		link(rel="stylesheet", href="css/all.css")
	body
		.canvas
			block body
				header.header
					.row
						.col-12
				main.main
					block content
				footer.footer footer