body
  font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Nue, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -webkit-text-stroke 1px transparent
  -webkit-text-size-adjust 100%