cell_count = 9
cell_size = 60px

tic(width=20px)
	position relative
	&:before,
	&:after
		content ""
		width width
		border 2px solid #f00
		position absolute
		top 50%
		left 50%
	&:before
		transform translate(-50%, -50%) rotate(45deg)
	&:after
		transform translate(-50%, -50%) rotate(-45deg)

tac(width=20px)
	position relative
	&:before
		content ""
		size width
		border 2px solid #f00
		border-width 4px
		border-radius 50%
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)

.tic-tac
	padding 20px
	&__grid
		width cell_size*3
		display flex
		flex-wrap wrap
		position relative

	
	&__cell
		size cell_size
		color #f00
		font-size 24px
		font-weight 700
		text-align center
		border 2px solid #434343
		border-left none
		border-top none
		background-color #fff
		display block
		cursor pointer
		&:nth-of-type(3n)
			border-right none
		&:nth-of-type(9n),
		&:nth-of-type(9n-1),
		&:nth-of-type(9n-2)
			border-bottom none
		&:before,
		&:after
			display none
			border 2px solid #f00
		&:hover
			&:before,
			&:after
				display block
				border-color #f3919c
		&--tic
			tic()
		&--tac
			tac()

		for i in (0..8)
			&--{i}
				order i

		for turn in (1..8)
			&--turn-{turn}
				display none
	&__input
		display none
		for turn in (0..8)
			for i in (0..8)
				&--turn-{turn}&--{i}:checked
					& ~ .tic-tac__cell--{i}.tic-tac__cell--turn-{turn} // checked cell
						cursor default
						&:before,
						&:after
							border-color #f00
							display block
					& ~ .tic-tac__cell--{i}:not(.tic-tac__cell--turn-{turn})
						display none // hide same cells
					& ~ .tic-tac__cell--turn-{turn}:not(.tic-tac__cell--{i})
						display none // hide same turns
					& ~ .tic-tac__cell--turn-{turn+1}
						display block // show next turn

.tic-tac-gameover
	width 100%
	font-size 24px
	font-weight 700
	text-align center
	padding-top calc(100% + 15px)
	position absolute
	top 0
	left 0
	display none
	&__score
		margin-bottom 10px
		display none
	&__button
		color #fff
		font-weight 400
		text-decoration none
		font-size 20px
		text-decoration none
		background-color #c9c9c9
		padding 5px 15px 7px
		display inline-block
		&:hover
			background-color #acacac


.tic-tac-win
	margin-bottom 15px
	&__player
		size 20px
		margin-left 5px
		margin-right 5px
		vertical-align middle
		display none
		&--tic
			tic()
		&--tac
			tac()

// draw
.tic-tac__input--0:checked ~ .tic-tac__input--1:checked ~ .tic-tac__input--2:checked ~ .tic-tac__input--3:checked ~ .tic-tac__input--4:checked ~ .tic-tac__input--5:checked ~ .tic-tac__input--6:checked ~ .tic-tac__input--7:checked ~ .tic-tac__input--8:checked
	& ~ .tic-tac-gameover
		display block
		.tic-tac-gameover__score--draw
			display block
		.tic-tac-win
			display none

// win
win_combos = {
	hor_1: (0 1 2),
	hor_2: (3 4 5),
	hor_3: (6 7 8),
	vert_1: (0 3 6),
	vert_2: (1 4 7),
	vert_3: (2 5 8),
	cross_1: (0 4 8),
	cross_2: (2 4 6)
}
for _, combos in win_combos
	for player in 'tic' 'tac'
		.tic-tac__input--{player}.tic-tac__input--{combos[0]}:checked ~ .tic-tac__input--{player}.tic-tac__input--{combos[1]}:checked ~ .tic-tac__input--{player}.tic-tac__input--{combos[2]}:checked
			& ~ .tic-tac__cell
				&:before,
				&:after
					border-color #cbcbcb
				&--{combos[0]},
				&--{combos[1]},
				&--{combos[2]}
					&:before,
					&:after
						border-color #f00
			& ~ .tic-tac-gameover
				display block
				.tic-tac-gameover__score--win
					display block
				.tic-tac-gameover__score--draw
					display none
				.tic-tac-win__player--{player}
					display inline-block